/*
 ADOBE CONFIDENTIAL
 __________________

  Copyright 2012 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.
 */

/* Page */

body.page {
    color: #4c4c4c;
    background: #fff url(../../../../../etc/designs/geometrixx-outdoors/images/page/background.png) no-repeat;
    background-position:bottom center;
    background-attachment:fixed;
}
body.page.ext-ie10 {
    background-attachment: scroll; /* IE10 fix as 'background-attachment: fixed' breaks the display with the cf */
}
body.page #main {
    width: 966px;
    margin: 0 auto 200px;
}

/* Header */

body.page .page-header-content .page-systemnav {
    overflow: hidden;
    height: 25px;
    padding: 5px 10px 6px;
    font-size: 11px;
    color: #bababa;
    background: none repeat scroll 0 0 #4d4d4d;
}
body.page .page-header-content .sys-nav-wrapper{
	width: 966px;
    margin: 0 auto;
}
body.page .page-header-content .page-systemnav a {
    color: #bababa;
    text-decoration: none;
}
body.page .page-header-content .page-systemnav a:hover {
    color: #eee;
}

body.page .page-header-content .page-systemnav .userinfo {
    float: right;
    padding-right: 10px
}
body.page .page-header-content .page-systemnav .search {
    float: right;
}

/* For a nicer design mode experience */
body.page .page-header-content .page-systemnav .cq-editcomponent-placeholder {
    float: left !important;
    margin: -6px 0 0 -10px !important;
}

/* Content */

body.page .page-content {
    overflow: hidden;
    padding: 30px 20px 20px;
    zoom: 1; /* IE6 fix */
    min-height: 400px;
}
body.page .page-content .parsys,
body.page .page-content .iparsys {
    margin: 10px 0 20px;
}
body.page .page-content-main {
    float: left;
    width: 700px;
    padding-bottom: 40px;
}
body.page .page-content-sidebar {
    float: right;
    width: 200px;
    padding-bottom: 40px;
}

h1.cart-title,
h1.account-title,
h1.checkout-title,
h1.order-title {
    font-style: italic;
    font-size: 1.8em;
    margin: 0;
    color: #4D4D4D;
}

h2.cart-title,
h2.account-title,
h2.checkout-title,
h2.order-title {
    font-weight: normal;
    font-style: italic;
    font-size: 1.5em;
    margin: 0 0 20px 0;
    color: #4D4D4D;
}

div.order-history td.price,
div.order-history td.orderStatus {
    text-align: right;
}
h2.order-title {
    margin: 0;
}
div.order_status p {
    font-style: italic;
    margin: 3px 0 25px 0;
}

h2.account-title {
    border-bottom: 1px solid #D9D9D9;
    margin: 20px 0 0 0;
}
table.account-item {
    margin: 9px 36px 9px 15px;
}
table.account-item td.item {
    width: 200px;
}
table.account-item td.item h3 {
    margin: 0;
}
table.account-item td.description {
    margin: 0;
    width: 400px;
}

/* Links */

.page-content a,
.page-content a:hover,
.page-content a:visited {
    color: #f26522;
    text-decoration: none;
}

.page-content a:hover {
    color: #f26522;
    text-decoration: underline;
}

/* Footer */

body.page .page-footer {
    overflow: hidden;
    font-size: 11px;
    text-transform: uppercase;
}
body.page .page-footer,
body.page .page-footer a {
    color: #808080;
    text-decoration: none;
}
body.page .page-footer a:hover {
    color: #ccc;
}

body.page .page-footer .toolbar {
    overflow: hidden;
    float: left;
    display: inline;
    zoom: 1; /* IE7 fix */
    margin: 5px 15px;
}
body.page .page-footer .toolbar a {
    float: left;
    display: inline;
    margin-right: 5px;
    padding: 5px;
    font-weight:bold;
}

body.page .page-footer .copyright {
    float: right;
    margin: 10px 20px 0 0;
    font-weight:bold;
}

/* Forms */

.par form {
    margin-top: 20px;
}

.par form input {
    height: 22px;
}

.par form .form_field_text.form_field_multivalued {
    width: 308px;
}

.par form .form_rightcol_wrapper input.form_field_multivalued {
    width: 334px;
}

.par form input:focus,
.par form textarea:focus {
    color: #000;
}

.par form .form_row .form_mv_add,
.par form .form_row .form_mv_remove {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 18px;
    font-size: 0;
    background: #fff url(../../../../../etc/designs/geometrixx-outdoors/images/common/plus-minus.png) no-repeat;
    color: transparent;
}

.par form .form_row .form_mv_remove {
    margin-left: 6px;
    vertical-align: middle;
}

.par form .form_row .form_mv_add {
    background-position: -10px -10px;
}

.par form .form_row .form_mv_remove {
    background-position: -44px -10px;
}

.par form div.new {
    display: none;
}

.par form div.title {
    padding-top: 0;
}

/* Community */

.par .forum form {
    margin: 0px;
}

.par .forum .searchbox input,
.par .forum input[type="checkbox"] {
    height: 14px;
}

.par .forum .composer div.left.expanded {
    height: 160px;
}

/* Product */

.product .product-submit span.button-group input[type="submit"], .add-to-cart span.button-group input[type="submit"] {
    background: #be4b15 url(../../../../../etc/designs/geometrixx-outdoors/images/product/add_to_cart.png) 0 -56px repeat-x;
}

.product .product-submit span.button-group span, .add-to-cart span.button-group span {
    background: url(../../../../../etc/designs/geometrixx-outdoors/images/product/add_to_cart.png) no-repeat;
}

/* Shopping Cart */

.quantity input[type="submit"] {
    background: #be4b15 url(../../../../../etc/designs/geometrixx-outdoors/images/product/add_to_cart.png) 0 -56px repeat-x;
}

/* Checkout Button */

.cq-checkout a,
a.cq-checkout,
form input.cq-checkout[type="button"],
form input.cq-checkout[type="submit"] {
    background: transparent url(../../../../../etc/designs/geometrixx-outdoors/images/product/checkout_button.png) 100% 0 no-repeat;
    display: inline-block;
    border: none;
    padding: 7px 18px 0 12px;
    height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    text-decoration: none !important;
}

form input.cq-checkout[type="button"],
form input.cq-checkout[type="submit"] {
    /* buttons generally use border-box sizing, so this is required */
    height: 29px;
    padding-top: 2px;
}

.cq-checkout a:hover,
a.cq-checkout:hover,
form input.cq-checkout[type="button"]:hover,
form input.cq-checkout[type="submit"]:hover {
    background-position: 100% -29px;
}

form#checkout .radio .form_row:first-child {
    padding-top: 0;
}

/* Vouchers */

.cq-voucher-error {
    color: #F26522;
}
.cq-voucher-invalid {
    color: #F26522;
}
.vouchers input[type="submit"] {
    background: #be4b15 url(../../../../../etc/designs/geometrixx-outdoors/images/product/add_to_cart.png) 0 -56px repeat-x;
}

/* Call to Action */

div.call-to-action p.call-to-action {
    background: #be4b16 url(../../../../../etc/designs/geometrixx-outdoors/images/common/button.png) left top repeat-x;
}
.recommend_product .description p {
	color:#5a5a5a;
}

/* Welcome Back Banner */

.geometrixx-welcome {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.25rem;
    font-weight: lighter;
    color: white;
    background-color: #F26522;
    padding: 0.5rem 1rem 0.25rem;
}
.geometrixx-welcome p {
    margin: 0;
}

/* remove banner image borders for new look */
#_content_geometrixx-outdoors_en_jcr_content_par_image_1959 img {
    margin: -0.825rem;
    width: 60rem;
    height: 25rem;
}

.abandoned > .call-to-action {
    float: right;
    width: 10rem;
    height: 23.25rem;
    padding: 0 1rem 0 0.25rem;
    border-right: 0.45rem solid #F26522;
    border-radius: 0;
}
.abandoned > .call-to-action {
    margin-bottom: 0;
}
.abandoned > .call-to-action h3 {
    margin-top: 0;
}
